@page "/Account/Register"

@using System.ComponentModel.DataAnnotations
@using System.Text
@using System.Text.Json;
@using System.Text.Encodings.Web
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.WebUtilities
@using MidStore.Data.Models

@inject UserManager<IdentityUser> UserManager
@inject IUserStore<IdentityUser> UserStore
@inject SignInManager<IdentityUser> SignInManager
@inject IEmailSender<IdentityUser> EmailSender
@inject NavigationManager NavigationManager
@inject IdentityRedirectManager RedirectManager
@inject HttpClient HttpClient

<PageTitle>Register</PageTitle>

<MudContainer Style="background-color: #333333">
    <br />
    <MudText Typo="Typo.h3" GutterBottom="true">Create a new account</MudText>
    <MudDivider />
    <MudGrid>
        <MudItem md="6">
            <StatusMessage Message="@Message" />
            <br />
            <EditForm Model="Input" asp-route-returnUrl="@ReturnUrl" method="post" OnValidSubmit="RegisterUser" FormName="register">
                <DataAnnotationsValidator />
                <MudGrid>
                    <MudItem md="12">
                        <label>UserName</label>
                        <MudStaticTextField For="@(() => Input.UserName)" @bind-Value="Input.UserName"
                                            UserAttributes="@(new() { { "autocomplete", "username" }, { "aria-required", "true" } } )"
                                            Variant="Variant.Outlined" Margin="Margin.Dense" />
                    </MudItem>
                    <MudItem md="12">
                        <label>Email</label>
                        <MudStaticTextField For="@(() => Input.Email)" @bind-Value="Input.Email"
                                            UserAttributes="@(new() { { "autocomplete", "email" }, { "aria-required", "true" } } )"
                                            Variant="Variant.Outlined" Margin="Margin.Dense" />
                    </MudItem>
                    <MudItem md="12">
                        <label>Password</label>
                        <MudStaticTextField For="@(() => Input.Password)" @bind-Value="Input.Password" InputType="InputType.Password"
                                            UserAttributes="@(new() { { "autocomplete", "new-password" }, { "aria-required", "true" } } )"
                                            Variant="Variant.Outlined" Margin="Margin.Dense" />
                    </MudItem>
                    <MudItem md="12">
                        <label>Confirm Password</label>
                        <MudStaticTextField For="@(() => Input.ConfirmPassword)" @bind-Value="Input.ConfirmPassword" InputType="InputType.Password"
                                            UserAttributes="@(new() { { "autocomplete", "new-password" }, { "aria-required", "true" } } )"
                                            Variant="Variant.Outlined" Margin="Margin.Dense" />
                    </MudItem>
                    <MudItem md="12">
                        <MudFab Color="Color.Primary" Label="Sign up" ButtonType="ButtonType.Submit" />
                    </MudItem>
                </MudGrid>
            </EditForm>
        </MudItem>
        <MudItem md="6">
            <br />
            <MudText Typo="Typo.body1" GutterBottom="true">Use another service to register.</MudText>
            <ExternalLoginPicker />
        </MudItem>
    </MudGrid>
    <br />
</MudContainer>

@code {
    [SupplyParameterFromForm]
    private InputModel Input { get; set; } = new();

    [SupplyParameterFromQuery]
    private string? ReturnUrl { get; set; }

    private IEnumerable<IdentityError>? identityErrors;
    private string? Message => identityErrors is null ? null : $"Error: {string.Join(", ", identityErrors.Select(error => error.Description))}";

    public Profile Profile = new();

    public async Task RegisterUser(EditContext editContext)
    {
        var user = CreateUser();
        await UserStore.SetUserNameAsync(user, Input.UserName, CancellationToken.None);
        var emailStore = GetEmailStore();
        await emailStore.SetEmailAsync(user, Input.Email, CancellationToken.None);
        var result = await UserManager.CreateAsync(user, Input.Password);
        var userId = await UserManager.GetUserIdAsync(user);

        if (!result.Succeeded)
        {
            identityErrors = result.Errors;
            return;
        }

        Profile.UserId = userId;
        Profile.Private = false;
        var profileContent = new StringContent(JsonSerializer.Serialize(Profile), Encoding.UTF8, "application/json");
        var profileResponse = await HttpClient.PostAsync("https://localhost:7139/api/Profile", profileContent);

        var code = await UserManager.GenerateEmailConfirmationTokenAsync(user);
        code = WebEncoders.Base64UrlEncode(Encoding.UTF8.GetBytes(code));
        var callbackUrl = NavigationManager.GetUriWithQueryParameters(
            NavigationManager.ToAbsoluteUri("Account/ConfirmEmail").AbsoluteUri,
            new Dictionary<string, object?> { ["userId"] = userId, ["code"] = code, ["returnUrl"] = ReturnUrl });

        await EmailSender.SendConfirmationLinkAsync(user, Input.Email, HtmlEncoder.Default.Encode(callbackUrl));

        if (UserManager.Options.SignIn.RequireConfirmedAccount)
        {
            RedirectManager.RedirectTo(
                "Account/RegisterConfirmation",
                new() { ["email"] = Input.Email, ["returnUrl"] = ReturnUrl });
        }

        await SignInManager.SignInAsync(user, isPersistent: true);
        RedirectManager.RedirectTo(ReturnUrl);
    }

    private IdentityUser CreateUser()
    {
        try
        {
            return Activator.CreateInstance<IdentityUser>();
        }
        catch
        {
            throw new InvalidOperationException($"Can't create an instance of '{nameof(IdentityUser)}'. " +
                $"Ensure that '{nameof(IdentityUser)}' is not an abstract class and has a parameterless constructor.");
        }
    }

    private IUserEmailStore<IdentityUser> GetEmailStore()
    {
        if (!UserManager.SupportsUserEmail)
        {
            throw new NotSupportedException("The default UI requires a user store with email support.");
        }
        return (IUserEmailStore<IdentityUser>)UserStore;
    }

    private sealed class InputModel
    {
        [Required]
        [Display(Name = "Username")]
        public string UserName { get; set; } = "";

        [Required]
        [EmailAddress]
        [Display(Name = "Email")]
        public string Email { get; set; } = "";

        [Required]
        [StringLength(100, ErrorMessage = "The {0} must be at least {2} and at max {1} characters long.", MinimumLength = 6)]
        [DataType(DataType.Password)]
        [Display(Name = "Password")]
        public string Password { get; set; } = "";

        [DataType(DataType.Password)]
        [Display(Name = "Confirm password")]
        [Compare("Password", ErrorMessage = "The password and confirmation password do not match.")]
        public string ConfirmPassword { get; set; } = "";
    }
}